/* * {
    border: 1px solid red;
} */


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .row1, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.gap{
    flex: 1 0 30px;
}

h3 {
    flex: 1 0 auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.hero_secondary,
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
}

.row1 {
    display: flex;
    padding: 100px 200px 130px 200px;
    gap: 20px;
}

.row1 .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero_main {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 5px;
}

.hero_secondary {
    margin-bottom: 16px;
}

#row1-button {
    background-color: #3882f6;
    padding: 8px 32px;
    color: #F9FAF8;
    border-radius: 8px;
}

img {
    flex: 1 0 auto;
}

.row2 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 145px;
}

.row2 .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 50px 250px 0 250px;
}

.box-container .boxes {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container .box {
    border: 2px solid #3882f6;
    flex: 1 1 auto;
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.box-container .boxes .text {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    margin-top: 10px;
    color: #1f2937
}